.font-1-xxl {
  font: 600 64px/72px "poppins", sans serif;
}

.font-1-xl {
  font: 600 32px/42px "poppins", sans serif;
}

.font-1-l {
  font: 400 24px/36px "poppins", sans serif;
}

.font-2-l {
  font: 400 24px/36px "roboto", sans serif;
}

.font-2-l-b {
  font: 500 24px/36px "roboto", sans serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.font-1-m {
  font: 400 18px/24px "poppins", sans serif;
}

.font-1-m-b {
  font: 600 18px/24px "poppins", sans serif;
}

.font-1-m {
  font: 500 18px/24px "roboto", sans serif;
}

.font-1-s {
  font: 400 16px/24px "poppins", sans serif;
}

.font-2-s {
  font: 400 16px/24px "roboto", sans serif;
}

.font-2-xs {
  font: 400 14px/20px "roboto", sans serif;
}

.font-1-xs {
  font: 600 12px/16px "poppins", sans serif;
}
