.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-menu {
  display: flex;
  gap: 10px;
}

.header-menu a {
  padding: 16px 0px;
  color: var(--cor-0);
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
  }

  .header-menu a {
    padding: 8px 16px;
    background-color: var(--cor-11);
    border-radius: 4px;
  }
}
