.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-menu {
  display: flex;
  gap: 10px;
}

.header-menu a {
  padding: 16px 0px;
  color: var(--cor-0);
  position: relative;
}

.header-menu a::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background-color: var(--cor-0);
  position: absolute;
  transition: 0.3s;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
  }

  .header-menu a {
    padding: 8px 16px;
    background-color: var(--cor-11);
    border-radius: 4px;
  }
  .header-menu a::after {
    display: none;
  }
}
