#orcamento {
  background-image: linear-gradient(var(--cor-11) 700px, var(--cor-1) 0%);
}

#orcamento .titulo h1 {
  line-height: 1.2;
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.orcamento-dados h2 {
  grid-column: 1/-1;
}

#orcamento h2 {
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
}

#orcamento h2::before {
  content: "";
  height: 8px;
  width: 4px;
  background-color: var(--cor-p1);
  position: absolute;
  left: -8px;
}

.orcamento-produtos,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produtos {
  background-color: var(--cor-12);
  border-radius: 4px 0px 0px 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 20px;
}
.orcamento-conteudo h2 {
  margin-bottom: 24px;
}
.orcamento-conteudo label {
  margin-bottom: 20px;
}

.orcamento-produtos > * {
  grid-column: 1/-1;
}

.orcamento-produtos > label {
  grid-column: initial;
}

.orcamento-produtos label {
  color: var(--cor-4);
  font: 400 1rem/1.5 "poppins", sans serif;
  background-color: var(--cor-10);
  padding: 12px 16px;
  display: block;
  border-radius: 4px;
  cursor: pointer;
}

.orcamento-produtos label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--cor-6);
  border-radius: 50%;
  margin-right: 8px;
  box-sizing: border-box;
}

.orcamento-produtos input:checked + label::before {
  box-shadow: inset 0px 0px 0px 2px var(--cor-0),
    inset 0px 0px 0px 5px var(--cor-10);
}

.orcamento-produtos label:hover {
  background-color: var(--cor-9);
}

.orcamento-produtos input {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.orcamento-produtos input:checked + label {
  background-color: var(--cor-0);
  color: var(--cor-12);
}

.orcamento-dados {
  background-color: var(--cor-0);
  border-radius: 0px 4px 4px 0px;
}

.orcamento-dados h2 {
  margin-bottom: 20px;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: block;
}

.orcamento-conteudo {
  display: none;
}

.orcamento-conteudo label {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.orcamento-conteudo label span {
  display: none;
}

.orcamento-conteudo input:checked + label span {
  display: initial;
}

.orcamento-detalhes {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 24px;
  background-color: var(--cor-0);
  padding: 20px;
  border-radius: 4px;
  display: none;
}

.orcamento-conteudo input:checked + label + .orcamento-detalhes {
  display: grid;
}

.orcamento-detalhes ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.orcamento-detalhes li img {
  width: 24px;
}

@media (max-width: 1200px) {
  .orcamento-produtos,
  .orcamento-dados {
    padding: 32px;
  }
}

@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;
  }

  .orcamento-produtos {
    border-radius: 4px 4px 0 0;
  }

  .orcamento-dados {
    border-radius: 0 0 4px 4px;
  }
}
